body {
  margin:0;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: blue;
  display:flex;
}

.logo {
  width: 25%;
  background-color: black;
}

.logo a {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.logo a img {
  width: auto;
  height: 100%;
  
}

.menu {
  width: 75%;
  background-color: aqua;
  text-color:white;
  display: flex;
  align-items:center;
  
}

.navbar {
  width:100%;
  height:100%;
}
.navbar ul {
  display: flex;
  text-decoration:none;
  list-style:none;
  justify-content: space-around;
  align-items: center;
  height:100%
  gap:40px;
}

.navbar a{
  text-decoration:none;
  color:blue;
  font-size:18px;
  height: 100%;
  align-items: center;
}

.mobilebar {
}

@media (max-width:576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}
