*{
  margin:0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: blue;
  display:flex;
}

.logo {
  width: 20%;
  background-color: white;
}

.logo a {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 80%;
  background-color: aqua;
  text-color:white;
  display: flex;
}

.menu .navbar {
  width:100%;
  height:100%;
}
.menu .navbar ul {
 display: flex;
  height:100%;
  width:100%;
  align-items:center;
 justify-content: space-around;
}
.menu ul li{
  list-style-type:none;
  padding-bottom:2.5%;
}
.navbar ul li a{
  text-decoration:none;
  color:blue;
  font-size:1.5vw;
  position:absolute;
}

.mobilebar {
}

@media (max-width:576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}
