body {
  margin:0;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: blue;
  display:flex;
}

.logo {
  width: 25%;
  background-color: green;
}

.logo a {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  background-color: aqua;
  text-color:white;
  display: flex;
}

.navbar {
  width:100%;
}
.navbar ul {
  display: flex;
  text-decoration:none;
  list-style:none;
  justify-content: space-between;
  width:100%;
}

.navbar a{
  text-decoration:none;
  color:blue;
  font-size:18px;
}

.mobilebar {
}

@media (max-width:576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}
