body {
  font-family: Arial;
  text-align: center;
}

nav {
  background: black;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  margin: 10px;
}
