body {
margin: 0;
}

.header {
 width: 100%;
  height: 10% ;
  background-color: blue;
  display:flex;
  }
.logo{
  width: 25%;
  background-color: green;
}
.logo a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo a img{
  width: auto;
   height: auto;
 
}

  .menu{
   display:flex;
   text-align:center;
   padding:20px;
   width:80%;
   gap:20%;
  
   justify-content:space around;
  }
.menu a {
 color:white;
 text-decoration:none;
} 
.mobile{
}


@media (max-width:576px){
  .header {
    height: 7%;
    background-color: red;
  }
