 /* { 
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: red;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: yellow;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: green;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  padding-bottom: 3%;
}

.menubar ul li a {
  text-decoration: none;
  color: magenta;
  font-size: 1.5vw;
  position: absolute;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:10%;
  background: magenta;
  border: 1px solid black;
  width: 120px;
  height: auto;
  flex-direction:column;
  padding:5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li{
  padding:8px;
  list-style:none;
  padding-bottom: 20%;
}

.menu .menubar ul li .submenu li a{
    font-size:16px;
    color: white;
}

.menu .menubar ul li:hover .submenu {
  display: block;
}

.menu .menubar ul .underline_current > a {
    text-decoration: underline;
    text-decoration-color: red;
} */ */


 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            width: 300px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        select {
            width: 100%;
            padding: 10px;
            margin: 5px 0 15px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
