body {
  margin:0;
}

.header {
  width: 10%;
  height: 10%;
  background-color: blue;
  display:flex;
}

.logo {
  width: 25%;
  background-color: green;
}

.logo a {
  width: 10%;
  height: 10%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  background-color: aqua;
  text-color:white;
  display: flex;
  justify-content:space-around;
}

.navbar {
}

.navbar ul {
  display: flex;
}

.navbar a{
  text-decoration:none;
}

.mobilebar {
}

@media (max-width:576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}
